{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="index-header post" 
    {{#if image}} 
        style="background-image: url({{image}})"
    {{else if @blog.cover}}
        style="background-image: url({{@blog.cover}})"
    {{/if}}>
    
    <div class="index-header-mask"></div>
    <section class="blog-logo-panel">
        {{#if @blog.logo}}
        <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
        {{/if}}
    </section>
    <section class="blog-title-panel {{post_class}}">
        <h1 class="post-title">{{title}}</h1>
        <section class="post-meta">
            <span class="meta-item">
                Author: {{#author}}<a href="{{url}}">{{/author}}{{author}}</a>
            </span>
            <span class="meta-item">
                Create: <time class="post-date" datetime="{{date created_at format='YYYY-MM-DD'}}">{{date created_at format="YYYY-MM-DD"}}</time>
            </span>
            <span  class="meta-item">
                Update: <time class="post-date" datetime="{{date updated_at format='YYYY-MM-DD'}}">{{date updated_at format="YYYY-MM-DD"}}</time>
            </span>
            <br>
            <span class="meta-item meta-tags">
                Tags: {{tags prefix=" on "}}
            </span>
        </section>
    </section>
</header>
<main class="post-content" role="main">
    <article class="{{post_class}}">
        <section class="post-content themeless-content">
            {{content}}
        </section>

        <footer class="post-footer">
        </footer>

    </article>
    <section class="content-ctrl-panel">
        <div class="ctrl-panel">
            <div class="ctrl-btn to-top" id="toTop" title="to the top">&#xe69e;</div>
        </div>
    </section>
</main>

<aside class="read-next">
    <section class="next-post">
        <span>Next Article: </span>
        {{#next_post}}
        <a href="{{url}}" class="link-to">{{title}}</a>
        {{/next_post}}
    </section>
    <section class="prev-post">
        <span>Prev Article: </span>
        {{#prev_post}}
        <a href="{{url}}" class="link-to">{{title}}</a>
        {{/prev_post}}
    </section>
</aside>

{{/post}}

<script type="text/javascript">
window.onload = function (){
    $('#toTop').length && $('#toTop').on('click', function (){
        $('html,body').animate({
            scrollTop: 0
        }, 300);
    });
    var isShow = false;
    $(window).on('scroll', function (){
        var top = $(window).scrollTop();
        if (top < 500){
            $('#toTop').hide();
        } else {
            $('#toTop').show();
        }
    });
};
</script>
