{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="index-header post {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="index-header-mask"></div>
    <section class="blog-logo-panel">
        {{#if @blog.logo}}
        <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
        {{/if}}
    </section>
    <section class="index-blog-back">
        <a href="{{@blog.url}}" class="back-to-home-btn">Back to Home</a>
    </section>
</header>
<!--
<header class="index-header post-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>
-->
<main class="post-content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            {{#if image}}
            <img src="{{image}}" alt="" class="post-title-img">
            {{/if}}
            <section class="post-meta">
                <span class="meta-item">
                    Author: {{#author}}<a href="{{url}}">{{/author}}{{author}}</a>
                </span>
                <span class="meta-item">
                    Create: <time class="post-date" datetime="{{date created_at format='YYYY-MM-DD'}}">{{date created_at format="YYYY-MM-DD"}}</time>
                </span>
                <span  class="meta-item">
                    Update: <time class="post-date" datetime="{{date updated_at format='YYYY-MM-DD'}}">{{date updated_at format="YYYY-MM-DD"}}</time>
                </span>
                <span class="meta-item meta-tags">
                    Tags: {{tags prefix=" on "}}
                </span>
            </section>
        </header>

        <section class="post-content themeless-content">
            {{content}}
        </section>

        <footer class="post-footer">
        </footer>

    </article>
</main>

<aside class="read-next">
    <section class="next-post">
        <span>Next Article: </span>
        {{#next_post}}
        <a href="{{url}}" class="link-to">{{title}}</a>
        {{/next_post}}
    </section>
    <section class="prev-post">
        <span>Prev Article: </span>
        {{#prev_post}}
        <a href="{{url}}" class="link-to">{{title}}</a>
        {{/prev_post}}
    </section>
</aside>

{{/post}}
